@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@300;400&family=Quicksand:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
}

.navbar {
    position: relative; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6b22c4;
    padding: 10px 20px;
}

.nav-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-items li {
    margin-right: 30px;
}

.nav-items li:last-child {
    margin-right: 50px;
}

.nav-items li a {
    color: white;
    text-decoration: none;
}


.menu-icon {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

.close-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    color: black;
}

@media only screen and (max-width: 600px) {
    .navbar {
        position: relative;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 20px; 
        right: 20px; 
        cursor: pointer;
    }

    .fullscreen-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        color: white;
        z-index: 1000;
    }

    .fullscreen-menu.show {
        display: block;
    }

    .menu-icon.show-close + .close-icon {
        display: block;
    }

    .nav-items {
        padding-left: 20px;
        padding-top: 20px;
        margin: 50px 0 0 0;
        position: relative;
        flex-direction: column;
    }

    .nav-items li {
        margin-bottom: 20px;
    }

    .nav-items li a {
        color: black;
        text-decoration: none;
        font-size: 20px;
    }
}

/* Hide close icon on larger screens */
@media only screen and (min-width: 601px) {
    .close-icon {
        display: none;
    }
}






/* Image Section */
.image-section {
    height: 80vh; 
    display: flex;
    align-items: flex-start; 
}

.container {
    position: relative;
}

.container img {
    max-width: 100%;
    max-height: 70%;
}

.text-overlay {
    position: absolute;
    top: 20px;
    left: 40%;
    transform: translateX(-50%);
    text-align: start;
    color: white;
    z-index: 2;
    font-size: 24px;
    justify-content: start;
}

.layer {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 45%;
    height: 45%;
    background-image: linear-gradient(to bottom right, #1CBDDD, #4DCA79);   
    z-index: 1; 
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    text-transform: uppercase; 
    text-decoration: none;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ff8c00;
}

@media only screen and (max-width: 1200px) {
    .text-overlay {
        font-size: 20px;
    }
    .layer {
        height: 60%;
    }
}
@media only screen and (max-width: 950px) {
    .text-overlay {
        font-size: 18px;
    }
    .layer {
        height: 60%;
    }
}
@media only screen and (max-width: 860px) {
    .text-overlay {
        font-size: 16px;
    }
    
}

@media only screen and (max-width: 768px) {
    
    .text-overlay {
        top: 10%;
        font-size: 16px;
    }

    .layer {
        top: 96%;
        left: 0;
        width: 100%;
        height: 50%;
    }
}

@media only screen and (max-width: 600px) {
    
    .text-overlay {
        top: 10%;
        font-size: 16px;
    }

    .layer {
        top: 96%;
        left: 0;
        width: 100%;
        height: 70%;
    }
}

@media only screen and (max-width: 530px) {
    .text-overlay {
        font-size: 14px;
    }
    .layer {
        height: 100%;
    }
}

/* Mobile (375px) */
@media only screen and (max-width: 375px) {
    .text-overlay {
        top: 5%;
        font-size: 12px;
    }

    .layer {
        top: 96%;
        left: 0;
        width: 100%;
        height: 70%;
    }

}




.second-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    padding: 40px;
    margin-top: 10px;
}

.second-section .content {
    margin-left: 150px;
}

.second-section .content h3 {
    color:#6b22c4;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.second-section .content p {
    margin-bottom: 20px;
    font-size: 16px;
    width: 70%;
}

.second-section .content .button {
    padding: 10px 20px;
    background-color: orange;
    color: white;
    text-transform: uppercase; 
    text-decoration: none;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.second-section .content .button:hover {
    background-color: #ff8c00;
}

.section2img{
    width: 300px;
    padding-left: 170px;
 }

 @media only screen and (max-width: 1200px) {

    .second-section .content {
        margin-left: 100px;
    }
    .section2img{
        width: 300px;
        padding-left: 100px;
     }
}
@media only screen and (max-width: 1050px) {
    .second-section .content {
        margin-left: 100px;
    }
    .section2img{
        width: 300px;
        padding-left: 50px;
     }
}
@media only screen and (max-width: 900px) {
    .second-section {
        margin-top: 1px;
    }
    .second-section .content {
        margin-left: 100px;
    }
    .section2img{
        width: 300px;
        padding-left: 5px;
     }
}
@media only screen and (max-width: 768px) {
    .second-section {
        flex-direction: column; 
        align-items: center; 
    }
    
    .second-section .content {
        margin-left: 0;
        text-align: center; 
        width: 100%;
    }
    
    .section2img {
        padding-left: 0;
        margin-bottom: 20px; 
    }
    
    .second-section .content p{
        width: 100%;
    }
    .second-section .content .button{
        width: 70%; 
    }
    .section2img{
        width: 200px;
     }
}



/* Third Section */
.third-section {
    display: flex;
    align-items: center;
    padding: 40px;
    margin-bottom: 60px;
}

.third-section .content {
    margin-left: 250px; 
}

.third-section .content h3 {
    color:#6b22c4;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.third-section .content p {
    margin-bottom: 20px;
    font-size: 16px;
    width: 70%;
}

.third-section .content .button {
    padding: 10px 20px;
    background-color: orange;
    color: white;
    text-transform: uppercase; 
    text-decoration: none;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.third-section .content .button:hover {
    background-color: #ff8c00;
}

.section3img{
   width: 300px;
   padding-right: 170px;
}

@media only screen and (max-width: 1200px) {
    .third-section .content  {
        margin-left: 160px;
    }
    .section3img{
        width: 300px;
        padding-right: 120px;
     }
   
}
@media only screen and (max-width: 1050px) {
    .third-section .content  {
        margin-left: 100px;
    }
    .section3img{
        width: 300px;
        padding-right: 120px;
     }
   
}
@media only screen and (max-width: 900px) {
    .third-section .content  {
        margin-left: 70px;
    }
    .section3img{
        width: 300px;
        padding-right: 20px;
     }
   
}

@media only screen and (max-width: 768px) {
    .third-section {
        flex-direction: column;
        align-items: center; 
    }
    
    .third-section .content {
        margin-left: 0; 
        text-align: center; 
        width: 100%; 
    }
    
    .section3img {
        padding-right: 0;
        margin-bottom: 20px;
    }
    .third-section .content {
        margin-left: 0px; 
    } 
    .third-section .content p{
        width: 100%; 
    }

    .third-section .content .button{
        width: 70%; 
    }
    .section3img{
        width: 200px;
    }
}

.faq-section {
    padding: 40px;
    padding-bottom: 10%;
    background-color: white;
}

.faq-section h2 {
    text-align: center;
    margin-bottom: 30px;
}

.faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-item {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    background-color: #FAF8FF; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
    color: #6b22c4;
}

.question-icon {
    font-size: 20px;
}

.question-text {
    flex: 1;
    margin-right: 10px; 
}

.answer {
    display: none;
    padding: 20px;
    color: #6F6C90;
}

.faq-item.active .answer {
    display: block;
}


.question.active .question-icon::after {
    content: "-";
}

.question-icon::after {
    content: "+";
}


.question.active .question-icon::after {
    transform: rotate(45deg);
}








footer {
    background-color: #6b22c4;
    padding: 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.p{
    color: white;
}

.column {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 20px;
}

.column:last-child {
    margin-right: 0; 
}

.column h4 {
    color: white;
    margin-bottom: 10px;
}

.column ul {
    list-style-type: none;
    padding: 0;
    color: white;
}

.column ul li {
    margin-bottom: 10px;
    color: white;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.legal-info {
    color: #666;
    text-align: center; 
}

@media only screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column; 
    }

    .column {
        width: 100%;
    }

    .column:not(:first-child) {
        margin-top: 20px; 
    }
}


@media only screen and (max-width: 375px) {
    .column {
        width: 100%; 
    }
}
